#rw_contaner{overflow:hidden;width: 200px;height:200px; z-index:10000; position:fixed; border:0 solid red; }
#refugeeswelcome{margin-left: -72px; margin-top:50px;background-color: #fff; box-shadow: 0 1px 3px rgba(0,0,0,0.4);width:300px; height: 55px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg); }

.topright{
	top: 0; right: 0; transform: rotate(90deg); -webkit-transform: rotate(90deg);  -moz-transform: rotate(90deg);-ms-transform: rotate(90deg);
}
.topleft{
	top: 0; left: 0; transform: rotate(0eg); -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg);-ms-transform: rotate(0deg);
}
.bottomright{
	bottom: 0; right: 0; transform: rotate(180deg); -webkit-transform: rotate(180deg);  -moz-transform: rotate(180deg);-ms-transform: rotate(180deg);
}
.bottomleft{
	bottom: 0; left: 0; transform: rotate(-90eg); -webkit-transform: rotate(-90deg);  -moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);
}

#Ebene_1{padding-top:5px;width:210px;  margin-left: 45px;}
.bottomright #Ebene_1, .bottomleft #Ebene_1{
	transform: rotate(-180deg); -webkit-transform: rotate(-180deg);  -moz-transform: rotate(-180deg);-ms-transform: rotate(-180deg); 
	padding-top:0;
}

@media only screen and (max-width:599px) {
	#rw_contaner{ position: absolute; top: 0; left: 0;  width: 100%; overflow:visible;}
	#refugeeswelcome{width:100%;transform: rotate(-90deg); -webkit-transform: rotate(-90deg);  -moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg); margin-top:0;  box-shadow: 0 0 0 rgba(0,0,0,0.4); }
	#Ebene_1{margin-left: auto; margin-right:auto;}
	body{margin-top:58px;}
	
	.topleft,.topright,.bottomleft,.bottomright{
		top: 0; left: 0; transform: rotate(90eg); -webkit-transform: rotate(90deg);  -moz-transform: rotate(90deg);-ms-transform: rotate(90deg);
	}
	.bottomright #Ebene_1,.bottomleft #Ebene_1{
		transform: rotate(0deg); -webkit-transform: rotate(0deg);  -moz-transform: rotate(0deg);-ms-transform: rotate(0deg);
	}
	
	body{
		box-shadow: 0 -1px 3px rgba(0,0,0,0.4)
	}
}
